@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
    margin: 0;
    font-family: "poppins";
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colores */
    --cian-oscuro: #00415A;
    --cian: #00B8FF;
    --cian-claro: #3BC9FF;
    --blanco: #fff;
    --negro: #000;
    --celeste-claro: #00FFDD;
    --light-red: #ff0022;
    --azul-magenta: #0404e2;
    --naranja-claro: #fb5b17;
    --verde-cian: #00ff7f;

    /*Paleta de colores*/
    --amarillo-oscuro: #030056;
    --amarillo-medio-oscuro: #01303f;
    --sombra-amarillo: #02577a;
    --amarillo-mostaza: #02a9f7;
    --mostaza-medio-palido: #89d6fb;
    --mostaza-palido: #d4f0fc;
    /*Opciones*/
    --amarillo-claro: #00c2c7;
    --amarillo-verde: #bfff00;
}

/*---------------------------------------------Diseños Generales--------------------------------------------*/
/*---------------------------------------------Diseños Generales--------------------------------------------*/

html, .BodyPrime {
    background: var(--mostaza-palido);
}

.Logo {
    transform: translateY(0px);
    width: 30%;
    height: 100%;
}

@media (max-width: 950px) {
    .Logo {
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
}

@media (max-width: 350px) {
    .Logo {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
}


.Titulo-Libro, .Titulo-AgregarLibro,
.Titulo-EditarLibro, .Titulo-EliminarLibro {
    text-align: center;
    font-weight: bold;
}

.Contenedor-Agregar-Editar-Eliminar {
    display: flex;
    justify-content: center;
}

/*---------------------------------------------------------Boton Añadir Libro---------------------------------------------*/
.ContenedorBotonAgreLibroAdmin {
    display: flex;
    justify-content: center;
}

.BotonAgregarLibro {
    font-size: 20px;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid var(--amarillo-mostaza);
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px var(--amarillo-mostaza);
}

.BotonAgregarLibro:hover {
    transform: translate(5px, -5px);
}

.Agregar:hover {
    background: var(--verde-cian);
    color: var(--negro);
    border: 3px solid var(--negro);
    box-shadow: -5px 5px 0px 0px var(--negro);
}

/*-------------------------------------Diseño de Agregar Libro------------------------------------*/
.ContenedorBotonesGuardarLibro {
}

.BotonesAdminlibroGuardar {
    margin-left: 200px;
    background: var(--negro);
    color: var(--blanco);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 600;
    font-size: 15px;
    border: 3px solid var(--amarillo-mostaza);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

    .BotonesAdminlibroGuardar:hover {
        transform: translate(-0.05em, -0.05em);
        box-shadow: 0.15em 0.15em;
    }

.Guardar:hover {
    background: var(--verde-cian);
    color: var(--negro);
    border: 3px solid var(--negro);
}

.Cancelar:hover {
    background: var(--amarillo-mostaza);
    color: var(--negro);
    border: 3px solid var(--negro);
}

/*-------------------------------------Diseño de boton atras de Libros------------------------------------*/
.ContenedorBotonesGuardarLibro {
}

.BotonesAdminlibroAtras {
    margin-left: 25px;
    background: var(--negro);
    color: var(--blanco);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 600;
    font-size: 15px;
    border: 3px solid var(--amarillo-mostaza);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

    .BotonesAdminlibroAtras:hover {
        transform: translate(-0.05em, -0.05em);
        box-shadow: 0.15em 0.15em;
    }

.Atras:hover {
    background: var(--light-red);
    color: var(--negro);
    border: 3px solid var(--negro);
}

/*-------------------------------------Diseño de cuadro de Libros------------------------------------*/
.card1 {
    width: 275px;
    height: 375px;
}

.Ajustarimagen {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 20px;
    border: 4px solid var(--amarillo-mostaza);
}

.card-content {
    width: 275px;
    height: 375px;
    transform-style: preserve-3d;
    transition: transform 3s;
}

.card1:hover .card-content {
    transform: rotateY(180deg);
}

.fondo {
    width: 275px;
    height: 355px;
    background-color: black;
    font-weight: 400;
    opacity: 0.65;
    padding: 16px;
    border-radius: 20px;
    transform: translateY(-350px)
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    inset: 1rem;
    color: white;
    border-radius: 20px;
}

.card-front {
    align-items: center;
}

.card-back {
    transform: rotateY(180deg);
    gap: 0.5rem;
}

.contenedor {
    display: inline-block;
}

.card-front {
    content: "";
    transform: translateZ(2rem);
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 0px;
    color: var(--Negro);
}

    .title:hover {
        color: var(--amarillo-mostaza);
    }

.sub-fechaLanzamiento {
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: var(--amarillo-oscuro);
    margin-left: 140px;
    margin-top: -29px;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    transform: translateZ(3rem);
}

.AtributosLibro {
    color: var(--amarillo-claro);
    font-size: 15px;
}

.ContenedorBotonesAdminpeli {
}

.BotonesAdminlibro {
    margin-left: 25px;
    background: var(--negro);
    color: var(--blanco);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 600;
    font-size: 15px;
    border: 3px solid var(--amarillo-mostaza);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.BotonesAdminlibro:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.Eliminar:hover {
    background: var(--light-red);
    color: var(--negro);
    border: 3px solid var(--negro);
}

.BotonesAdminlibro:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.Modificar:hover {
    background: var(--naranja-claro);
    color: var(--negro);
    border: 3px solid var(--negro);
}

/*-------------------------------------------Diseño de Login--------------------------------------------*/
@import url('https://rsms.me/inter/inter-ui.css');

.page {
    background: rgb(0,224,242);
    background: radial-gradient(circle, rgba(0,224,242,1) 0%, rgba(0,18,255,1) 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    place-content: center;
}

@media (max-width: 767px) {
    .page {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

.container2 {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}

.ConteinerError {
    display: flex;
    width: 640px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .container2 {
        flex-direction: column;
        height: 630px;
        width: 320px;
    }

    .ConteinerError {
        flex-direction: column;
        width: 320px;
    }
}

.left {
    background: var(--negro);
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
    border-radius: 20px 0 0 20px;
    color: var(--blanco);
}

.left2 {
    top: 20px;
    position: relative;
    width: 50%;
    border-radius: 20px 0 0 20px;
}

@media (max-width: 767px) {
    .left {
        height: 100%;
        left: 20px;
        width: calc(100% - 40px);
        max-height: 270px;
    }
    .left2 {
        left: 20px;
        width: calc(100% - 40px);
    }
}

.login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}

.eula {
    color: var(--blanco);
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}

.right {
    background: var(--blanco);
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    color: #ffffff;
    position: relative;
    width: 50%;
    border-radius: 20px;
}
.right3 {
    margin-top: 5px;
    position: relative;
    width: 50%;
    border-radius: 50px;
}

@media (max-width: 767px) {
    .right {
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        max-height: 350px;
    }
    .right3 {
        flex-shrink: 0;
        width: 100%;
    }
}

.right2 {
    transform: translateX(30px) translateY(35px);
}

.TextUsuario, .TextClave {
}

.BotonLogin {
  margin-top: 30px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  background: #100720;
  transition: 0.1s;
}

    .BotonLogin::after {
        content: '';
        width: 100%;
        height: 100%;
        background-image: radial-gradient( circle farthest-corner at 10% 20%, var(--amarillo-medio-oscuro) 17.8%, var(--amarillo-claro) 100.2% );
        filter: blur(15px);
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
    }

.BotonLogin:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient( circle farthest-corner at 10% 20%,  var(--amarillo-medio-oscuro) 17.8%, var(--amarillo-claro) 100.2% );
  transition: 0.5s;
}


/*-------------------------------------------Diseño del Libro de Loading ------------------------------------------------------*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(250px);
}

.loader {
    --background: linear-gradient(135deg, #23C4F8, #275EFE);
    --shadow: rgba(39, 94, 254, 0.28);
    --text: #6C7486;
    --page: rgba(255, 255, 255, 0.36);
    --page-fold: rgba(255, 255, 255, 0.52);
    --duration: 3s;
    width: 200px;
    height: 140px;
}

    .loader:before, .loader:after {
        --r: -6deg;
        content: "";
        position: absolute;
        bottom: 8px;
        width: 120px;
        top: 80%;
        box-shadow: 0 16px 12px var(--shadow);
        transform: rotate(var(--r));
    }

    .loader:before {
        left: 4px;
    }

    .loader:after {
        --r: 6deg;
        right: 4px;
    }

    .loader div {
        width: 100%;
        height: 100%;
        border-radius: 13px;
        position: relative;
        z-index: 1;
        perspective: 600px;
        box-shadow: 0 4px 6px var(--shadow);
        background-image: var(--background);
    }

        .loader div ul {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
        }

            .loader div ul li {
                --r: 180deg;
                --o: 0;
                --c: var(--page);
                position: absolute;
                top: 10px;
                left: 10px;
                transform-origin: 100% 50%;
                color: var(--c);
                opacity: var(--o);
                transform: rotateY(var(--r));
                -webkit-animation: var(--duration) ease infinite;
                animation: var(--duration) ease infinite;
            }

                .loader div ul li:nth-child(2) {
                    --c: var(--page-fold);
                    -webkit-animation-name: page-2;
                    animation-name: page-2;
                }

                .loader div ul li:nth-child(3) {
                    --c: var(--page-fold);
                    -webkit-animation-name: page-3;
                    animation-name: page-3;
                }

                .loader div ul li:nth-child(4) {
                    --c: var(--page-fold);
                    -webkit-animation-name: page-4;
                    animation-name: page-4;
                }

                .loader div ul li:nth-child(5) {
                    --c: var(--page-fold);
                    -webkit-animation-name: page-5;
                    animation-name: page-5;
                }

                .loader div ul li svg {
                    width: 90px;
                    height: 120px;
                    display: block;
                }

                .loader div ul li:first-child {
                    --r: 0deg;
                    --o: 1;
                }

                .loader div ul li:last-child {
                    --o: 1;
                }

    .loader span {
        display: block;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: 20px;
        text-align: center;
        color: var(--text);
    }

@keyframes page-2 {
    0% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    35%, 100% {
        opacity: 0;
    }

    50%, 100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-3 {
    15% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    50%, 100% {
        opacity: 0;
    }

    65%, 100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-4 {
    30% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    65%, 100% {
        opacity: 0;
    }

    80%, 100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-5 {
    45% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    80%, 100% {
        opacity: 0;
    }

    95%, 100% {
        transform: rotateY(0deg);
    }
}