/*------------------------diseño del navmenu-------------------------*/
.nav-link-content {
    display: flex;
    align-items: center;
}

.nav-link-image {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.nav-link-text {
    font-family: Arial;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}


    .nav-link-text:hover {
        color: #6A1B9A;
    }
/*------------------------diseño de las letras bienvenida------------*/
.contenedorMayor {
    margin-left: 78px;
    justify-content: center;
}

.spinner {
    margin-left: 82px;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: max-content;
    font-size: 68px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5em;
    color: #000;
    filter: drop-shadow(0 0 10px);
    display: flex;
}
.spinner2 {
    margin-left: 460px;
    text-align: center;
    height: 50px;
    width: max-content;
    font-size: 68px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5em;
    color: #000;
    filter: drop-shadow(0 0 10px);
    display: flex;
}
.spinner3 {
    text-align: center;
    height: 50px;
    width: max-content;
    font-size: 68px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5em;
    color: #000;
    filter: drop-shadow(0 0 10px);
    display: flex;
}

.spinner, .spinner2, .spinner3 span {
    animation: loading6454 1.75s ease infinite;
}

.spinner, .spinner3 span:nth-child(2) {
        animation-delay: 0.25s;
}

.spinner, .spinner3 span:nth-child(3) {
        animation-delay: 0.5s;
}

.spinner, .spinner3 span:nth-child(4) {
        animation-delay: 0.75s;
}

.spinner, .spinner3 span:nth-child(5) {
            animation-delay: 1s;
}

.spinner, .spinner3 span:nth-child(6) {
        animation-delay: 1.25s;
}

.spinner, .spinner3 span:nth-child(7) {
        animation-delay: 1.5s;
}

.spinner, .spinner3 span:nth-child(8) {
        animation-delay: 1.75s;
}

    .spinner, .spinner3 span:nth-child(9) {
        animation-delay: 2s;
    }

        .spinner, .spinner3 span:nth-child(10) {
            animation-delay: 2.25s;
        }

        .spinner, .spinner3 span:nth-child(11) {
            animation-delay: 2.5s;
        }

        .spinner, .spinner3 span:nth-child(12) {
            animation-delay: 2.75s;
        }

    .spinner, .spinner3 span:nth-child(13) {
        animation-delay: 3s;
    }


@keyframes loading6454 {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/*-----------------------------------------------------Descripcion de bienvenida--------------------*/
.intro {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    font-weight: normal;
}

/*----------------------------------------------------------Carrusel----------------------------------------------------------------*/
.Carrusel {
    background-color: var(--light-bacco);
    border-radius: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.ContenedorImgCarrusel {
    top: 20%;
    border-radius: 50px;
    -webkit-box-shadow: 3px 3px 20px 15px var(--light-bacco), inset 0px 0px 0px 46px var(--light-bacco);
    box-shadow: 3px 3px 20px 15px var(--light-bacco), inset 0px 0px 0px 46px var(--light-bacco);
    display: flex;
}

.CarruselImg {
    background-color: black;
    border-radius: 50px;
    object-fit: contain;
    height: 400px;
    width: 100%;
    display: flex;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
}

    .carousel-indicators [data-bs-target]:hover {
        background-color: var(--light-bacco);
    }

/* Estilo para centrar el contenido en pantalla */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Esto asegura que el contenedor sea del mismo alto que la ventana gráfica del navegador */
}
