@page "/home"

<br/>
<br/>
<br />

<div class="container-fluid" id="main-content">
    <div class="container12">
        <div class="row1">
            <div class="spinner">
                <span><img class="letra" src="/images/L.png" ></span>
                <span><img class="letra1" src="/images/I.png"></span>
                <span><img class="letra" src="/images/T.png"></span>
                <span><img class="letra" src="/images/E.png"></span>
                <span><img class="letra" src="/images/R.png"></span>
                <span><img class="letra" src="/images/A.png"></span>
                <span><img class="letra" src="/images/R.png"></span>
                <span><img class="letra" src="/images/Y.png"></span>
            </div>
            <div class="spinner1">
                <span><img class="letra" src="/images/W.png"></span>
                <span><img class="letra1" src="/images/I.png"></span>
                <span><img class="letra" src="/images/N.png"></span>
                <span><img class="letra" src="/images/G.png"></span>
                <span><img class="letra" src="/images/S.png"></span>
            </div>
        </div>
    </div>
</div>

@code {

}